html,
body {
	padding: 0px;
	overflow: hidden;
	margin: 0px;
}

@font-face {
	font-family: 'GameFont';
	src: url("fonts/krunker.ttf");
}

* {
	outline: none;
	font-family: 'GameFont';
	color: #353535;
	user-select: none;
}

#promptMenu {
	background-color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 5px;
	-webkit-box-shadow: 0px 7px 0px 0px #a6a6a6;
	-moz-box-shadow: 0px 7px 0px 0px #a6a6a6;
}

#promptText {
	word-wrap: break-word;
}

input {
	top: 100px;
	background-color: #eee;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	padding: 4px;
	width: 250px;

}

select {
	top: 100px;
	background-color: #eee;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	padding: 4px;
	width: 250px;
}

.actionButton {
	color: #fff !important;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #2196F3;
	padding: 6px;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}

.actionButton:active {
	background-color: #666;
}

.lineSpacing {
	padding-bottom: 12px;
}
